<ion-header [translucent]="true">
  <ion-toolbar >
    <div class="toolbar">
      <img src="assets/images/3 Playful Snack Ideas For Kids _ The Fresh Times.jpg">
      
      <ion-title>
      Fruitstore
    </ion-title>
    <!-- <ion-button slot="end"><ion-icon name="nutrition-outline"></ion-icon></ion-button> -->
    <!-- <ion-icon slot="end" (click)='peach()' name="nutrition-outline"></ion-icon> -->
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <div>
    <h2> FruitStore</h2>
    <h4>V2.5.5</h4>
    <h2>By <span>Stephanie Siewe</span></h2>
  </div>

  <div>
    <img src="assets/images/3 Playful Snack Ideas For Kids _ The Fresh Times.jpg">
   
  </div>
  
  <P>
    this is an unofficial app developped by an independent developper for a course of mobile developpement
  </P>
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
