ion-toolbar{
    height: 15vh;
    --background:black;
}



ion-toolbar .toolbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
   align-items:center; 
}

.toolbar ion-title{
    font-size: 6vw;
    font-style: italic;
    text-align: center;
    font-family: 'DMSans_medium';
    margin-right: 10vh;


}

ion-toolbar .toolbar img{
    // width: 20vw;
    margin-top: 1vh;
    object-fit: cover;
    // margin-bottom:1vh;
    // // border-top-left-radius: 30%;
    // // border-top-right-radius: 30%;
    // // border-bottom-right-radius: 30% ;
    // // border-bottom-left-radius: 30%;
    // margin-left:.5rem;
    width: 8vh;
    border-radius: 50%;
    float:left;
    margin-left:6vw;
    // margin-top:0.5vh ;
    margin-bottom: 0.5vh;
    height: 8vh;

}


.nav{
    display: flex;
    justify-content: center;
    align-content:space-around;
    background-color: var(--ion-color-bread);
     width: 100%;
    // margin-left: 5%;
    // border-top-left-radius: 10% ;
    // border-top-right-radius: 10%;
    // border-bottom-left-radius: 10% ;
    // border-bottom-right-radius: 10%;
//    z-index: 100;
}
ion-content{
    --background:var(--ion-color-content);
}
.nav>ion-button{
    --background:transparent;
    color:var(--ion-color-space);
    // font-style:;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'DMSans_medium';


}

.quest{
    margin-top: 12vh;
    text-align: center;
}

.quest h1{
    color:var(--ion-color-bread);
    font-style: italic;

}

ion-list{
    background-color:var(--ion-color-content);
    //  margin-top:rem;
}
.bof{
    margin-top: 10rem;
}

ion-item{
    // margin-bottom:2vh;
    border-top: 15px solid var(--ion-color-content);
    justify-content: center;
    align-content: space-between;
    --background:var(--ion-color-space);
}
ion-avatar{
    margin-right: 2vh;
    margin-bottom: 4vh;
}

ion-avatar div{
    background-color: var(--ion-color-bread);
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
 
    text-align: center;
    font-size: 1.5rem;
    // padding-top: 1vh;
    // margin-bottom: 2.5vh;

}

ion-avatar>div>h3{
//   margin-top: 1.3vh;
transform: translateY(20%);

}
.off{
    transform: translateX(200%);
    margin-right: 5vh;
}

ion-content > ion-button{
    --background:var(--ion-color-space);
    margin-top: 1vh;
}

ion-content >div:first-of-type{
    display: block;
}
.u--mb-5{
    margin-top: 50px;
   
}

